<h1>Hello {{ article.author.name }}!</h1>

<p>
    You send us a request to edit the article {{ article.title }} with the id {{ article.id }}.
    If you don't want to edit your article ignore this message
</p>

<p>
    <a href="{{ editLink }}">Click here to edit your article</a>
</p>